/* Global Styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#root {
  margin-top:3rem;
}
#content-container {
  width:100%;
  max-width:1200px;
  background-color:whitesmoke;
  margin:auto;
  position:relative;
}

/* Site Navigation */
#nav {
  position:fixed;
  top:0px;
  width:100%;
  height:3rem;
  line-height:2.8rem;
  background-color:whitesmoke;
  font-size:16px;
  text-align:center;
}
#nav input, button {
  position:relative;
  padding:4px;
}

/* Container Left */
#containerL {
  position:absolute;
  left:0px;
  width: 30%;
  height:auto;
  display:inline-block;
}

/* Container Right */
#containerR {
  position:absolute;
  right:0px;
  width: 70%;
  height:auto;
  display:inline-block;
  padding:1rem;
}

/* Profile */
#profile-container {
  width:100%;
  height:auto;
  position:relative;
  border-radius:8px;
  padding:1rem;
}
#profile-name {
  position:absolute;
  left:calc(25% + 1rem);
  display:inline-block;
}
#profile-level {
  position:absolute;
  display:inline-block;
  background-color:white;
  text-align:center;
  left:calc(25% + 1rem);
  top:45%;
}
#profile-icon {
  width:25%;
}

/* Ranked */
#ranks-container {
  background-color:darkslategray;
  padding:1rem;
  border-radius:8px;
  width:100%;
}
#rank-tier {
  width:50%;
  padding:1rem;
}
#rank-rank {
  width:50%;
  position:absolute;
  display:inline-block;
  top:50%;
  text-align:center;
  padding:1rem;
  padding-left:0rem;
  padding-right:2rem;
  color:white;
}

/* Match History */
#match-history-container {
  height: 400px;
  width:100%;
  padding:1rem;
  background-color:darkslategray;
  border-radius:8px;
  color:white;
}

/* Team Planner */
#add-champ-button {
  height:80px;
  width:80px;
  border:none;
  border-radius:80px;
  background-color:rgb(42, 58, 58);
  color:white;
  display:inline-block;
}
#add-champ-button strong {
  font-size:3rem;
  height:80px;
  position:absolute;
  top:3px;
  text-align: center;
  left:50%;
  transform: translate(-50%);
}
#champ-pool div {
  color:white;
}
#champ-pool img {
  height:80px;
  width:80px;
  margin:4px;
  border: 2px whitesmoke solid;
  border-radius:80px;
}
#selected-champion-list img {
  width:80px;
  height:80px;
  margin:4px;
  border: 4px black solid;
  border-radius:80px;
  display:inline-block;
}
/* Modal Box */
#modal {
  display:none;
  position:fixed;
  width:auto;
  height:auto;
  left:50%;
  top:4rem;
  transform:translateX(-50%);
  padding:2rem;
  background-color:black;
  z-index:99;
  color:white;
}
#modal img {
  width:80px;
  height:80px;
  border:4px white solid;
  border-radius:80px;
}
#modal h1 {
  padding-bottom:1rem;
}
#modal-quit {
  position:absolute;
  top:1rem;
  right:1rem;
  color:white;
}
#modal-overlay {
  display:none;
  position:fixed;
  z-index:98;
  background-color:rgba(0,0,0,0.7);
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
} 
#assassinType, #blademasterType, #brawlerType, #elementalistType, #guardianType, #gunslingerType, #knightType, #rangerType, #shapeshifterType, #sorcererType, #demonType, #dragonType, #exileType, #glacialType, #imperialType, #nobleType, #ninjaType, #phantomType, #pirateType, #robotType, #voidType, #wildType, #yordleType {
  display:none;
}