/* Global Styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color:whitesmoke;
}
button {
  cursor: pointer;
}
#root {
  margin-top:3rem;
}
#content-container {
  width:100%;
  max-width:1100px;
  margin:auto;
  position:relative;
  height:auto;
  padding:1rem;
  padding-bottom:4rem;
  background-color:rgb(45, 60, 60);
}

/* Site Navigation */
#nav {
  position:fixed;
  top:0px;
  width:100%;
  height:3rem;
  line-height:2.8rem;
  background-color:rgb(17,39,39);
  font-size:16px;
  text-align:center;
  z-index: 99;
}
#nav-container {
  width:100%;
  max-width:1100px;
  position: relative;
  margin:auto;
}
#nav-container > button {
  border:none;
  background-color:darkgoldenrod;
  color:white;
  border-radius: 2px;
  font-size:1rem;
  padding:.3rem;
  top:.5rem;
}
#nav-container > #goto-team-planner {
  position:absolute;
  right:20rem;
}
#nav-container > input {
  position:absolute;
  right:6.2rem;
  font-size:1rem;
  border:none;
  border-radius:2px;
  line-height: 2rem;
  top:.5rem;
  padding-left:.25rem;
}
#nav-container > #search-button {
  position: absolute;
  right:2rem;
}
#nav-container > p {
  position: absolute;
  left:2rem;
  color:white;
  font-size:1.6rem;
}
/* Container Left */
#containerL {
  width: 30%;
  height:auto;
  position: relative;
  display:inline-block;
}

/* Container Right */
#containerR {
  right:0px;
  width: 70%;
  height:auto;
  position: absolute;
  padding:1rem;
  top:1rem;
}

/* Profile */
#profile-container {
  width:100%;
  height:auto;
  position:relative;
  border-radius:8px;
  padding:1rem;
}
#profile-name {
  position:absolute;
  left:calc(25% + 1rem);
  display:inline-block;
}
#profile-level {
  position:absolute;
  display:inline-block;
  background-color:white;
  text-align:center;
  left:calc(25% + 1rem);
  top:45%;
}
#profile-icon {
  width:25%;
}

/* Ranked */
#ranks-container {
  background-color:darkslategray;
  padding:1rem;
  border-radius:8px;
  width:100%;
}
#rank-tier {
  width:50%;
  padding:1rem;
}
#rank-rank {
  width:50%;
  position:absolute;
  display:inline-block;
  top:50%;
  text-align:center;
  padding:1rem;
  padding-left:0rem;
  padding-right:2rem;
  color:white;
}

/* Match History */
#match-history-container {
  height: 400px;
  width:100%;
  padding:1rem;
  background-color:darkslategray;
  border-radius:8px;
  color:white;
}

/* Team Planner */
#team-planner-container > h1, h2 {
  color:whitesmoke;
  padding-bottom:1rem;
}
#add-champ-button {
  height:80px;
  width:80px;
  border:none;
  border-radius:80px;
  background-color:darkgoldenrod;
  color:white;
  display:block;
  float:left;
  margin:4px;
  position: relative;
}
#add-champ-button strong {
  font-size:3rem;
  height:80px;
  position:absolute;
  top:3px;
  text-align: center;
  left:50%;
  transform: translate(-50%);
}
#selected-champion-list {
  padding-bottom:1rem;
  display:block;
  min-height: 112px;
}
#selected-champion-list div, #selected-items-list div {
  display:inline-block;
}
#selected-champion-list img, #selected-items-list img {
  width:80px;
  height:80px;
  margin:4px;
  border: 4px black solid;
  border-radius:80px;
  position: relative;
}
#selected-champion-list > div > div, #selected-items-list > div > div {
  position:absolute;
  width:30px;
  height:30px;
  background-color:red;
  border-radius:30px;
  text-align:center;
  line-height: 15px;
  transform:translateX(-30px);
  color:white;
  font-size:50px;
}

/* Modal Box Champion Pool */
#modal, #modal-items {
  display:none;
  position:fixed;
  width:auto;
  max-width:70%;
  height:auto;
  max-height:80vh;
  left:50%;
  top:4rem;
  transform:translateX(-50%);
  padding:2rem;
  padding-top:1rem;
  background-color:black;
  z-index:99;
  color:white;
}
#modal-list, #modal-list-items {
  overflow-y:scroll;
  height:auto;
  max-height:60vh;
}
#modal img, #modal-items img  {
  width:70px;
  height:70px;
  border:2px white solid;
  border-radius:70px;
  margin:2px;
}
#modal h1, #modal-items h1 {
  padding-bottom:1rem;
}
#modal-quit, #modal-quit-items {
  position:absolute;
  top:1rem;
  right:.5rem;
  padding:1rem;
}
#modal-quit div, #modal-quit-items div {
  background-color:white;
  width:30px;
  height:4px;

}
#modal-quit div:nth-child(2), #modal-quit-items div:nth-child(2) {
  transform: rotate(45deg);
}
#modal-quit div:nth-child(1), #modal-quit-items div:nth-child(1) {
  transform: translateY(4px) rotate(-45deg);
}

#modal-overlay, #modal-overlay-items {
  display:none;
  position:fixed;
  z-index:98;
  background-color:rgba(0,0,0,0.7);
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
} 

/* Items */
#select-item-container {
  min-height:100px;
}
#select-item-container > h2 {
  position:relative;
  display:block;
  color:white;
  padding-bottom:1rem;
}

/* Champion Info Modal */
#champ-modals {
  position:fixed;
  z-index:99;
  width:400px;
  height:auto;
  color:white;
  left:50%;
  transform: translateX(-50%);
  top:10%;
  font-size:1.2rem;
}
#champ-modals div {
  position: relative;
  margin:auto;
}
#champ-modals > div > img {
  width:100%;
}
#champ-modals > div > h2 {
  position:absolute;
  top:1rem;
  left:1rem;
  z-index:99;
  text-shadow: 2px 4px 8px black;
}
#champ-modals > div > div > p {
  padding:.25rem;
  text-shadow: 2px 4px 8px black;
  font-weight: bold;
}
#champ-modals #modal-colR1 {
  position: absolute;
  width:40%;
  top:5.5rem;
  left:55%;
}
#modal-colL1 img {
  display:block;
  padding:.40rem;
}
#modal-colL2 img {
  display:block;
  padding:.40rem;
}
#champ-modals #modal-colR2 {
  position:absolute;
  top:5.5rem;
  width:40%;
  left:85%;
}
#champ-modals #modal-colL1 {
  position:absolute;
  top:5.5rem;
  width:40%;
  left:45%;
}
#champ-modals #modal-colL2 {
  position:absolute;
  top:5.5rem;
  width:40%;
  left:75%;
}
#champ-modals #hp-mana-container {
  position:absolute;
  top:1rem;
  width:50%;
  left:45%;
}
#champ-modals #hp-mana-container p:nth-child(1) {
  background-color:red;
  width:100%;
  padding:.1rem;
  padding-left:.2rem;
  text-shadow: none;
  margin:.2rem;
}
#champ-modals #hp-mana-container p:nth-child(2) {
  background-color:blue;
  width:100%;
  padding:.1rem;
  padding-left:.2rem;
  text-shadow: none;
  margin:.2rem;
}
#champ-modals #champ-info-overlay {
  position:absolute;
  width:100%;
  height:236px;
  top:0px;
  background-color: rgba(0, 0, 0, 0.7);
}
#champ-modals #champ-type-1 {
  position:absolute;
  top:60px;
  text-align:left;
  left:1rem;
}
#champ-type-1 h4 {
  display:inline-block;
  transform: translateY(-8px);
  padding-left:4px;
  text-shadow: 2px 4px 8px black;
}
#champ-modals #champ-type-2 {
  position:absolute;
  top:100px;
  text-align:left;
  left:1rem;
}
#champ-type-2 > h4 {
  display:inline-block;
  transform: translateY(-8px);
  padding-left:4px;
  text-shadow: 2px 4px 8px black;
}
#champ-modals #champ-type-3 {
  position:absolute;
  top:140px;
  text-align:left;
  left:1rem;
}
#champ-type-3 h4 {
  display:inline-block;
  transform: translateY(-8px);
  padding-left:4px;
  text-shadow: 2px 4px 8px black;
}
#champ-modals #exit-champ-info {
  position:absolute;
  top:6px;
  right:0px;
  width:26px;
  height:26px;
  cursor: pointer;
  z-index:100;
}
#exit-champ-info div:nth-child(1) {
  background-color:white;
  width:20px;
  height:4px;
  transform: translateX(-10px) translateY(12px) rotate(45deg);
}
#exit-champ-info div:nth-child(2) {
  background-color:white;
  width:20px;
  height:4px;
  transform: translateX(-10px) translateY(8px) rotate(-45deg);
}
#champ-modals #champ-items {
  position: absolute;
  display:block;
  width:180px;
  height:40px;
  z-index:99;
  left:1rem;
  top:186px;
}
#champ-modals #champ-items > div:nth-child(1) {
  width:40px;
  height:40px;
  border-radius:40px;
  background-color:rgb(70,70,70);
  position:absolute;
  left:0px;
  top:0px;
  font-size:2rem;
  text-align: center;
  line-height: 32px;
  color:rgb(140,140,140);
  cursor:pointer;
}
#champ-modals #champ-items > div:nth-child(2) {
  width:40px;
  height:40px;
  border-radius:40px;
  background-color:rgb(70,70,70);
  position:absolute;
  left:52px;
  top:0px;
  font-size:2rem;
  text-align: center;
  line-height: 32px;
  color:rgb(140,140,140);
  cursor:pointer;
}
#champ-modals #champ-items > div:nth-child(3) {
  width:40px;
  height:40px;
  border-radius:40px;
  background-color:rgb(70,70,70);
  position:absolute;
  left:104px;
  top:0px;
  font-size:2rem;
  text-align: center;
  line-height: 32px;
  color:rgb(140,140,140);
  cursor:pointer;
}

@media only screen and (max-width:420px) {
  #champ-modals {
    width:100%;
  }
  #champ-modals #champ-info-box {
    width:300px;
  }  
  #champ-modals > #champ-info-box > img {
    width:300px;
    height:236px;
    object-fit: cover;
  }
  #champ-modals #champ-items > div:nth-child(1) {
    width:34px;
    height:34px;
    border-radius: 34px;
    line-height: 26px;
  }
  #champ-modals #champ-items > div:nth-child(2) {
    left:40px;
    width:34px;
    height:34px;
    border-radius: 34px;
    line-height: 26px;
  }
  #champ-modals #champ-items > div:nth-child(3) {
    left:80px;
    width:34px;
    height:34px;
    border-radius: 34px;
    line-height: 26px;
  }
  #champ-modals #modal-colR2 {
    left:80%;
  }
  #champ-modals #modal-colL2 {
    left:70%;
  }
  #champ-type-1 h4 {
    font-size:1rem;
  }
  #champ-type-2 h4 {
    font-size:1rem;
  }
  #champ-type-3 h4 {
    font-size:1rem;
  }
  #champ-type-1 img {
    width:26px;
  }
  #champ-type-2 img {
    width:26px;
  }
  #champ-type-3 img {
    width:26px;
  }
  #champ-modals > div > div > p {
    font-size:1rem;
    padding:.4rem;
  }
}

@media only screen and (max-width:650px) {
  #modal img, #modal-items img {
    width:42px;
    height:42px;
    border-radius:42px;
    border:2px white solid;
    margin:2px;
  }
  #modal, #modal-items {
    width:100%;
  }
  #modal h1, #modal-items h1 {
    font-size:1rem;
  }
  #modal-quit, #modal-quit-items {
    top:.5rem;
    right:.5rem;
    padding:.5rem;
  }
  #modal-quit div, #modal-quit-items div {
    background-color:white;
    width:20px;
    height:4px;
  
  }
}

@media only screen and (min-width:651px) and (max-width:1000px) {
  #modal img, #modal-items img {
    width:60px;
    height:60px;
    border-radius:60px;
    border:2px white solid;
    margin:2px;
  }
  #modal, #modal-items {
    width:100%;
  }
  #modal h1, #modal-items h1 {
    font-size:1.6rem;
  }
}

/* Item Container */
@media screen and (min-width:628px) {
  #item-container {
    display:block;
    padding-top:4rem;
    text-align:center;
    color:white;
  }
  #item-container #items {
    width:100%;
    max-width:600px;
    margin:auto;
  }
  #item-row > div {
    display:inline-block;
    width:40px;
    height:auto;
    padding:2px;
    padding-bottom:0px;
  }
  #item-row > div > img {
    width:100%;
  }
  .border-item {
    margin:0px;
    padding:0px;
  }
  .border-item > img {
    border-radius:40px;
  }
}
#item-container {
  display: none;
}



/* Champion Class/Origin Styles */
#assassinType, #blademasterType, #brawlerType, #elementalistType, #guardianType, #gunslingerType, #knightType, #rangerType, #shapeshifterType, #sorcererType, #demonType, #dragonType, #exileType, #glacialType, #imperialType, #nobleType, #ninjaType, #phantomType, #pirateType, #robotType, #voidType, #wildType, #yordleType {
  display:none;
  padding:1rem;
  text-align:center;
  background-color:darkslategray;
  border-radius:8px;
  margin:2px;
  color:White;
}
#assassinType div:nth-child(3) {
  display:none;
}
#assassinType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#blademasterType div:nth-child(3) {
  display:none;
}
#blademasterType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#brawlerType div:nth-child(3) {
  display:none;
}
#brawlerType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#elementalistType div:nth-child(3) {
  display:none;
}
#elementalistType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#guardianType div:nth-child(3) {
  display:none;
}
#guardianType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#gunslingerType div:nth-child(3) {
  display:none;
}
#gunslingerType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#knightType div:nth-child(3) {
  display:none;
}
#knightType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#rangerType div:nth-child(3) {
  display:none;
}
#rangerType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#shapeshifterType div:nth-child(3) {
  display:none;
}
#shapeshifterType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#sorcererType div:nth-child(3) {
  display:none;
}
#sorcererType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#demonType div:nth-child(3) {
  display:none;
}
#demonType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#dragonType div:nth-child(3) {
  display:none;
}
#dragonType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#exileType div:nth-child(3) {
  display:none;
}
#exileType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#glacialType div:nth-child(3) {
  display:none;
}
#glacialType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#imperialType div:nth-child(3) {
  display:none;
}
#imperialType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#nobleType div:nth-child(3) {
  display:none;
}
#nobleType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#ninjaType div:nth-child(3) {
  display:none;
}
#ninjaType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#phantomType div:nth-child(3) {
  display:none;
}
#phantomType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#pirateType div:nth-child(3) {
  display:none;
}
#pirateType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#robotType div:nth-child(3) {
  display:none;
}
#robotType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#voidType div:nth-child(3) {
  display:none;
}
#voidType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#wildType div:nth-child(3) {
  display:none;
}
#wildType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#yordleType div:nth-child(3) {
  display:none;
}
#yordleType:hover div:nth-child(3) {
  display:block;
  position:absolute;
  background-color:black;
  z-index:97;
  padding:1rem;
  text-align:left;
}
#num-of-type {
  border-right: 4px solid white;
  padding-right:8px;
}